.lead-info {
  background: var(--white);

  p {
    padding: 0;
    margin: 0;
  }

  ul,
  p,
  .title {
    position: relative;
  }

  .container {
    position: relative;
  }

  .avatar,
  .avatar-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .avatar-bg {
    position: relative;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";
      border-radius: 50%;
    }

    &:before {
      width: 100%;
      height: 100%;
      z-index: 3;
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    }

    &:after {
      z-index: 0;
      background-image: linear-gradient(140deg, var(--white) 30%, #ccd1bc 80%);
    }
  }

  .avatar {
    position: relative;
    z-index: 1;
  }

  .row {
    position: relative;
  }

  .title {
    color: var(--blue);
  }

  .text-bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 100px;
    z-index: 0;
    height: 5px;
    width: 1200px;
    content: "";
    background-image: linear-gradient(to right, #ccd1bc, var(--white) 90%);
  }

  .lead-text {
    position: relative;
    opacity: 0;
  }

  @include bp($bp-desktop) {
    padding: var(--spacing-lg) 0;

    .avatar-wrapper {
      position: absolute;
      left: -200px;
      bottom: 0;
      width: 150px;
      height: 150px;
    }

    .avatar-bg {
      left: 1em;
      bottom: -1.5em;

      &:after {
        top: -8px;
        left: -8px;
        width: 165px;
        height: 165px;
      }
    }

    .lead-text {
      opacity: 1;
    }
  }

  @include bp($bp-mobile) {
    padding: var(--spacing-md) 0;

    .text-bg {
      display: none;
    }

    .lead-text {
      text-align: center;
    }

    .avatar-wrapper {
      width: 100px;
      height: 100px;
      margin: 0 auto var(--spacing-md);
    }

    .avatar-bg {
      &:after {
        top: -8px;
        left: -8px;
        width: 115px;
        height: 115px;
      }
    }

    .education-col {
      margin-bottom: var(--spacing-sm);
    }
  }
}

@keyframes gradient {
  from {
    opacity: 0;
    background-image: linear-gradient(140deg, var(--white) 30%, #ccd1bc 80%);
  }
  to {
    opacity: 1;
    background-image: linear-gradient(140deg, var(--white) 30%, #ccd1bc 80%);
  }
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 1200px;
  }
}

@keyframes shadow {
  from {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  }
}

.avatar-bg-animation {
  &:before {
    animation: shadow 1s both linear 0.3s 1 normal;
  }

  &:after {
    animation: gradient 1s both linear 1s 1 normal;
  }
}

.avatar-animation {
  animation: opacity 1s forwards ease-in-out 0.0001s 1 normal;
}

.text-bg-animation {
  animation: width 3s both linear 2s 1 normal;
}

.lead-text-animation {
  @include bp($bp-desktop) {
    animation: opacity 3s both linear 4s 1 normal;
  }

  @include bp($bp-mobile) {
    animation: opacity 3s forwards linear 0.8s 1 normal;
  }
}
