@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    opacity: 0;
    background-image: linear-gradient(140deg, var(--white) 30%, var(--red) 80%);
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(140deg, var(--white) 30%, var(--red) 80%);
  }
}

@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 1200px;
  }
}

@keyframes shadow {
  0% {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

.lead-container {
  background: var(--white);

  p {
    padding: 0;
    margin: 0;
  }

  ul,
  p,
  .title {
    position: relative;
  }

  .container {
    position: relative;
  }

  .avatar-wrapper {
    position: absolute;
    left: -200px;
    bottom: 0;
    width: 150px;
    height: 150px;
  }

  .avatar,
  .avatar-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .avatar-bg {
    position: relative;
    left: 1em;
    bottom: -1.5em;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";
      border-radius: 50%;
    }

    &:before {
      width: 100%;
      height: 100%;
      z-index: 3;
      animation: shadow 1s forwards linear 0.3s 1 normal;
    }

    &:after {
      z-index: 0;
      top: -8px;
      left: -8px;
      width: 165px;
      height: 165px;
      animation: gradient 3s forwards linear 1s 1 normal;
    }
  }

  .avatar {
    position: relative;
    z-index: 1;
    animation: opacity 1s forwards ease-in-out 0.0001s 1 normal;
  }

  .row {
    position: relative;
  }

  .title {
    color: var(--blue);
  }

  .text-bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 100px;
    z-index: 0;
    height: 5px;
    animation: width 3s forwards linear 4s 1 normal;
    content: "";
    background-image: linear-gradient(to right, var(--red), var(--white) 90%);
  }

  .lead-text {
    position: relative;
    opacity: 0;
    animation: opacity 3s forwards linear 4s 1 normal;
  }
}
