.projects {
  position: relative;

  .project {
    position: relative;
    opacity: 0;
  }

  .section-title {
    opacity: 0;
    text-align: center;
  }

  .project-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: opacity 0.5s linear 6.5s forwards 1 normal;
  }

  @include bp($bp-desktop) {
    padding: 0 0 var(--spacing-lg) 0;

    .project {
      animation: opacity 0.5s linear 7.5s forwards 1 normal;
    }

    .section-title {
      animation: opacity 0.5s linear 7s forwards 1 normal;
    }

    .img-container {
      animation: opacity 0.5s linear 6.5s forwards 1 normal;
    }
  }

  @include bp($bp-mobile) {
    padding: var(--spacing-md) 0;
    text-align: center;

    .description-inner {
      width: 100%;
    }

    .project {
      animation: opacity 0.5s linear 3.5s forwards 1 normal;
    }

    .section-title {
      animation: opacity 0.5s linear 3s forwards 1 normal;
    }

    .img-container {
      animation: opacity 0.5s linear 2.5s forwards 1 normal;
    }

    .github-link {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.github-link {
  margin-top: var(--spacing-sm);

  &,
  svg {
    display: block;
    width: 2em;
    height: 2em;
  }

  svg {
    opacity: 0.6;
    fill: var(--brand);
    transition: all 0.3s ease-in-out;
  }

  svg:hover {
    opacity: 0.9;
    transform-origin: center;
    transform: rotateZ(360deg);
  }
}

.projects-rocket {
  z-index: 1;
  transition: all 1s ease-in-out;
  transform-origin: center;
  transform: rotateZ(0);
  animation: rotate 1s linear 1 forwards alternate;

  &:hover {
    animation: rotate-backwards 0.5s ease-in-out 1 forwards;

    #rocket-flame {
      animation: flame-burst 0.15s ease-in-out infinite forwards;
    }
  }

  &.rocket-lounch {
    animation: rotate-backwards 1s linear 1 forwards alternate,
      final-path 2s linear 1 forwards alternate;

    #rocket-flame {
      animation: flame-burst 0.15s ease-in-out infinite forwards;
    }
  }
}

@keyframes flame-burst {
  50% {
    transform: scale(1.2, 1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes final-path {
  50% {
    opacity: 1;
    transform: translateY(-300px);
  }

  80% {
    opacity: 0;
    transform: translateY(-2000px) scaleY(4);
  }

  81% {
    transform: translateY(0);
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  to {
    transform: translateY(0) rotateZ(30deg);
  }
}

@keyframes rotate-backwards {
  from {
    opacity: 1;
    transform: rotateZ(30deg);
  }

  to {
    opacity: 1;
    transform: rotateZ(0);
  }
}
