.rocket,
#rocket,
#rocket-flame {
  transform-origin: center;
  transform-box: fill-box;
}

.rocket {
  display: block;
  width: 230px;
  height: 360px;
}

#rocket-container {
}

#rocket-flame {
  animation: flame 1s linear infinite forwards;
}

#rocket {
  // animation: size 2.5s linear infinite forwards;
}

@keyframes flame {
  50% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}
