:root {
  --brand: #457b9d;

  --true-black: #000000;
  --black: #16191d;
  --darker-gray: #2c323a;
  --dark-gray: #485361;
  --gray: #8d99ae;
  --light-gray: #aab4c0;
  --lighter-gray: #edf2f4;
  --white: #f1faee;
  --true-white: #fff;

  --light-blue: #a8dadc;
  --blue: #457b9d;
  --dark-blue: #1d3557;
  --red: #e76f51;

  --success: #96d03a;
  --error: var(--red);
}
