:root {
  --brand: #457b9d;

  --true-black: #000000;
  --black: #16191d;
  --darker-gray: #2c323a;
  --dark-gray: #485361;
  --gray: #8d99ae;
  --light-gray: #aab4c0;
  --lighter-gray: #edf2f4;
  --white: #f1faee;
  --true-white: #fff;
  --black-opacity-03: rgba(0, 0, 0, 0.3);

  --blue: #457b9d;
  --light-blue: #a8dadc;
  --lighter-blue: #c2e5e7;
  --lightest-blue: #b1d9db;
  --dark-blue: #1d3557;
  --blue-opacity-07: rgba(69, 123, 157, 0.07);

  --red: #e76f51;
  --red-opacity-04: rgba(231, 111, 81, 0.4);

  --light-beige: #ccd1bc;
  --dark-beige: #b8bca9;

  --success: #96d03a;
  --error: var(--red);
}
