.project-desc-animation {
  @include bp($bp-desktop) {
    animation: opacity 0.5s both 7.5s linear 1 normal;
  }

  @include bp($bp-mobile) {
    animation: opacity 0.5s both 3.5s linear 1 normal;
  }
}

.section-title-animation {
  @include bp($bp-desktop) {
    animation: opacity 0.5s both 7s linear 1 normal;
  }

  @include bp($bp-mobile) {
    animation: opacity 0.5s both 3s linear 1 normal;
  }
}

.img-container-animation {
  @include bp($bp-desktop) {
    animation: opacity 0.5s both 6.5s linear 1 normal;
  }

  @include bp($bp-mobile) {
    animation: opacity 0.5s both 2.5s linear 1 normal;
  }
}

.try-it-now-animation {
  @include bp($bp-desktop) {
    animation: opacity 0.5s both 8s linear 1 normal;
  }

  @include bp($bp-mobile) {
    animation: opacity 0.5s both 3s linear 1 normal;
  }
}
