// @import "animations";

.projects {
  position: relative;

  .project {
    position: relative;
    opacity: 1;
  }

  .section-title {
    opacity: 1;
    text-align: center;
  }

  .project-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include bp($bp-desktop) {
    padding: 0 0 var(--spacing-lg) 0;

    .img-container {
      position: relative;
    }

    .try-it-now {
      position: absolute;
      top: 0;
      right: 240px;
      width: 100px;

      svg {
        display: block;
        width: 100%;
      }
    }
  }

  @include bp($bp-mobile) {
    padding: var(--spacing-md) 0;
    text-align: center;

    .try-it-now {
      position: absolute;
      top: 70px;
      left: 60px;
      width: 80px;
      opacity: 0;

      svg {
        display: block;
        width: 100%;
      }
    }

    .description-inner {
      width: 100%;
    }

    .github-link {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.github-link {
  margin-top: var(--spacing-sm);

  &,
  svg {
    display: block;
    width: 2em;
    height: 2em;
  }

  svg {
    opacity: 0.6;
    fill: var(--brand);
    transition: all 0.3s ease-in-out;
  }

  svg:hover {
    opacity: 0.9;
    transform-origin: center;
    transform: rotateZ(360deg);
  }
}
