@import "animations";

.skills-warpper {
  background: var(--white);

  .section-title {
    opacity: 1;
  }

  @include bp($bp-desktop) {
    padding: 0 0 var(--spacing-lg) 0;
  }

  @include bp($bp-mobile) {
    padding: var(--spacing-md) var(--gutter);
    background-color: var(--red);
    opacity: 1;

    .container {
      padding-right: 0;
      padding-left: 0;
    }

    .section-title {
      color: var(--white);
    }
  }
}

.skills {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: -1em;

  .skill {
    padding: 0.25em 0.75em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    opacity: 1;
    background-color: var(--light-blue);
    border-radius: 10px;
  }
}
